<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HoaDonServlet</servlet-name>
        <servlet-class>HoaDonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuanLyDanhMuc</servlet-name>
        <servlet-class>QuanLyDanhMuc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuanLyHoaDon</servlet-name>
        <servlet-class>QuanLyHoaDon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuanLySanPham</servlet-name>
        <servlet-class>QuanLySanPham</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HoaDonServlet</servlet-name>
        <url-pattern>/HoaDonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuanLyDanhMuc</servlet-name>
        <url-pattern>/QuanLyDanhMuc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuanLyHoaDon</servlet-name>
        <url-pattern>/QuanLyHoaDon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuanLySanPham</servlet-name>
        <url-pattern>/QuanLySanPham</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
